    #bclass_correct {
        background: #E8FFE2;/*#34862E*/
        text-align: center;
        width: 50%;
        height: 20%;
        float: left;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #E8FFE2;
        text-shadow: 0  0  0 #ffffff;
        font-weight: bold;
        font-size:1.2em;
    }

    #bclass_incorrect {
        background: #FFEAEA;/*#F15F5F*/
        text-align: center;
        width: 50%;
        height: 20%;
        float: right;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: #FFEAEA;
        text-shadow: 0  0  0  #ffffff;
        font-weight: bold;
        font-size:1.2em;
    }

    .btn-horizontal { text-align: center; }
    .btn-horizontal .ui-btn { padding-right: 30px; padding-left: 50px; }
    